<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
    <add key="myget" value="https://www.myget.org/F/orchardcore-preview/api/v3/index.json" />
    <add key="LefeWareLearningFeed" value="https://lefewaresolutions.pkgs.visualstudio.com/e263153a-337e-4367-b070-e63bd2353092/_packaging/LefeWareLearningFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>